.c-banner {
  position: relative;
  height: 590px;

  > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: rgba($black, 0.3);

    > h3 {
      max-width: 650px;
      color: $font-main-inv;
      font-family: $font-body;
      font-size: $font-size;
      line-height: 1.6;
      text-align: center;
    }
  }
}
