.icon {

  &.-logo-small {
    width: rem(209);
    height: rem(30);
  }

  &.-small {
    width: rem(14);
    height: rem(14);
  }

  &.-grey {
    fill: rgba($black, 0.3);
  }

  &.-white {
    fill: rgba($white, 1.0);
  }
}
