.icon {

  &.-logo-small {
    width: rem(209);
    height: rem(30);
  }

  &.-small {
    width: rem(14);
    height: rem(14);
  }

  &.-dark {
    fill: rgba($dark, 1);
  }

  &.-grey {
    fill: rgba($black, 0.3);
  }

  &.-white {
    fill: rgba($white, 1);
  }
}

.icon-over-circle {
  width: 30px;
  height: 30px;
  background-color: $white;
  border-radius: 30px;
  display: inline-flex;
  vertical-align: top;
  margin-left: 10px;
}

.icon-over-circle .icon {
  margin: auto;
}
