.typeform-share {
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 1000;
  line-height: 1;
  color: $font-main;
  text-transform: uppercase;
  text-decoration: none;
  background: $main-color;
  padding: 8px 16px;
  cursor: pointer;
  transform: rotate(90deg) translate(50%);
  transform-origin: 100% 0;
}
