.c-footer {
  height: 100%;
  padding: 1rem 0;

  .secondary-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > .c-main-nav {
      margin-bottom: 2rem;
    }
  }

  .wetlands-logo {
    display: inline-block;
    width: 120px;
  }

  .birdlife-logo {
    display: inline-block;
    width: 60px;
    margin-right: 40px;
  }

  .logo {
    svg {
      height: rem(30);
      width: rem(210);
    }
  }
}
