.c-search-group {
  border-bottom: 1px solid rgba($bg-dark-color, 0.2);
  padding: rem(28) 0;

  .group-title {
    margin-bottom: rem(14);
    font-family: $font-body;
    font-size: $font-size;
    font-weight: 700;
  }

  .group-field {
    > .label {
      margin-bottom: rem(7);
      font-size: $font-size-xs;
      font-family: $font-body;
      font-weight: 500;
    }
  }
}

.c-search-actions {
  padding: 40px 0;
}
