.c-header {
  height: 100%;

  > .main-menu {
    display: flex;

    > .logo {
      display: flex;
      align-items: center;
      padding-right: 1rem;

      > svg {
        height: rem(30);
        width: rem(200);
      }
    }
  }

  > .right-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
