.c-legend {
  padding: 1rem;
  > .item {
    position: relative;
    padding-right: 24px;

    > p {
      color: $font-main-inv;
      font-size: $font-size;
      font-weight: 600;
    }

    .c-switch {
      position: absolute;
      top: 4px;
      right: 0;
    }

    > .sub-item {
      > p {
        color: $font-main-inv;
        font-size: $font-size-s;
        line-height: 1.5;
        letter-spacing: -0.2px;
        opacity: 0.5;
      }
    }
  }
}
