.c-nav-link {
  &.btn {
    font-family: $font-heading;
    font-size: $font-size-xs;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: center;
    color: $font-main;
    background-color: $main-color;
  }
}
