.modal-content {
  width: 300px;

  .modal-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .modal-description {
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
  }
}
