.c-table {

  .c-scroll-button {
    margin-top: rem(-20);
  }

  .-sticky {
    margin-top: rem(120);
    background-color: rgb(242, 242, 242);
    z-index: 1000;

    &.-small {
      margin-top: rem(50);
    }
  }
}
