.c-view-toggler {
  display: inline-block;
  border-radius: 100px;
  background-color: rgba($black, 0.7);

  .toggler {
    display: inline-block;
    height: rem(30);
    padding: rem(5) rem(30);
    border-radius: 100px;
    line-height: rem(20);
    color: $font-main-inv;
    cursor: pointer;

    &.is-active {
      color: $font-main;
      background-color: $main-color;
    }
  }
}
